@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
    --fonte-titulo: 'Open Sans', sans-serif;
    --fonte-paragrafos: 'Oswald', sans-serif;
    --fonte-links: 'Blinker', sans-serif;
    --cor01:#54e654;
    --cor02:#49b7db;
    --cor03:#87ceeb;
    --cor04:#0000ff;
    --cor05:#6cda6c;
}

html, body, main {
    min-height: 100vh;
}

header {
    padding: 10px;
    background-image: url('../imagem/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header h1 {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 2.4em;
    font-family: var(--fonte-titulo);
    color: white;
}

header nav {
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 20px;
}

nav a {
    padding: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: 0.7s;
    font-family: var(--fonte-links);
}

nav a:hover {
    background-color: var(--cor02);
    text-decoration: underline;
}

main {
   background-image: linear-gradient(to bottom, var(--cor02), var(--cor01));
   margin-top:5px;
}

main > p {
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 30px;
    line-height: 2em;
    font-size: 1.2em;
    
}

main p {
    padding: 10px;
    text-align: justify;
    font-family: var(--fonte-paragrafos);
   
}

main h2 {
    padding: 20px;
    font-size: 1.8em;
    font-family: var(--fonte-titulo);
    color: white;
    text-align: center;
}

#conteudo {
    margin-top: 80px;
}



#conteudo p {
    line-height: 2em;
    font-size: 1.2em;
    margin: 10px;
   
}

.img {
    background-image: url('../imagem/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px 5px;
    box-shadow: inset 0px 3px 11px 0px black;
}

aside {
    padding-bottom: 300px;
}

aside h2 {
    margin-top: 80px;
    text-align: center;
}

aside p {
    line-height: 2em;
    font-size: 1.2em;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
}

aside a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

aside a:hover {
    text-decoration: underline;
    background-color: var(--cor02);
}

footer {
    background-color: var(--cor02);
    padding: 5px;
}

footer p {
    font-family: var(--fonte-paragrafos);
    text-align: center;
    font-size: 1.2em;
}

footer a {
    font-family: var(--fonte-links);
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

